* {
  font-family: "Fredoka", Helvetica, sans-serif;
}

h1 {
  text-align: center;
  font-weight: 400;
}

#restricted-area {
  border: 2.5px solid #000000;
  border-radius: 25px;
  padding: 10px;
  text-decoration: none;
  min-width: 300px;
  min-height: 100px;
  font-size: 16px;
}

#restricted-area::-webkit-resizer {
  display: none;
}

#wrapper {
  position: relative;
  margin: auto;
  width: fit-content;
}

#counter {
  position: absolute;
  right: 10px;
  bottom: 10px;
}
